<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Django-modern-rpc Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="container mt-3">

        <h1 class="text-xs-center">Django-modern-rpc demo</h1>


        <h3>Introduction</h3>

        <p class="margin-top-10">
            <a href="https://pypi.python.org/pypi/django-modern-rpc" title="django modern rpc on PyPi">Django-modern-rpc</a>
            is a Django library that help you to enable a JSON and XML-RPC server in your application. It is easy to install
            and configure, and highly customizable. This website show the library in action. The current running version is
            <strong>{{modernrpc_version}}</strong>.
        </p>

        <h3>Library in action</h3>

        <p>
            You can try the library right now. Simply make RPC calls using your preferred client to the address
            <code>{{ request.build_absolute_uri }}rpc</code>. If you open the same address in your browser, you will get
            <a href="{{ request.build_absolute_uri }}rpc" title="RPC methods documentation">
                a list of all RPC methods available and the attached documentation
            </a>.
        </p>

        <h3>About this site</h3>

        <p>
            The source code of this website is available on <a href="https://github.com/alorence/modernrpc_demo">GitHub</a>.
        </p>

        <h3>About django-modern-rpc</h3>

        <div class="text-xs-center mt-1">
            <a class="btn btn-secondary" href="https://github.com/alorence/django-modern-rpc" role="button">
                <span class="fa fa-github" aria-hidden="true"></span>
                Source code
            </a>
            <a class="btn btn-secondary" href="http://django-modern-rpc.readthedocs.io/en/latest/" role="button">
                <span class="fa fa-book" aria-hidden="true"></span>
                Full documentation
            </a>
            <a class="btn btn-secondary" href="https://pypi.python.org/pypi/django-modern-rpc" role="button">
                <span class="fa fa-download" aria-hidden="true"></span>
                Library on PyPi
            </a>
        </div>

        <p class="mt-2">
            If you use this library in your project and want to help increasing its visibility, just
            go to <a href="https://djangopackages.org/packages/p/django-modern-rpc/">djangopackages</a>
            and vote for the library. Thank you !
        </p>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
            integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
            integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
            crossorigin="anonymous"></script>
</body>
</html>