<!DOCTYPE html>
{% load static from staticfiles %}
{% load google_analytics %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Django-modern-rpc Demo</title>

    <link rel="stylesheet" href="{%  static 'bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="container mt-3">

        <h1 class="text-xs-center">Django-modern-rpc demo</h1>


        <h3>Introduction</h3>

        <p class="margin-top-10">

            <a href="https://pypi.python.org/pypi/django-modern-rpc" title="django modern rpc on PyPi">Django-modern-rpc</a>
            is a Django library that help you to enable a JSON and XML-RPC server in your application. It is easy to install
            and configure, and highly customizable. This website show the library in action. The current running version is
            <strong>{{modernrpc_version}}</strong>.

        </p>

        <h3>Library in action</h3>

        <p>
            You can try the library right now. Simply make RPC calls using your preferred client to the address
            <code>{{ request.build_absolute_uri }}rpc</code>
        </p>

        {% include 'main_app/doc_accordion_method_list.html' %}

        <p>Note: you can also get this list of all method on
            <a href="{{ request.build_absolute_uri }}rpc" title="RPC methods documentation">
                dedicated page
            </a>.
        </p>

        <h3>About this website</h3>

        <p>
            The source code of this website is available on <a href="https://github.com/alorence/modernrpc_demo">GitHub</a>.
        </p>

        <h3>About django-modern-rpc</h3>

        <div class="text-center mt-1">
            <a class="btn btn-light" href="https://github.com/alorence/django-modern-rpc" role="button">
                <span class="fa fa-github" aria-hidden="true"></span>
                Source code
            </a>
            <a class="btn btn-light" href="http://django-modern-rpc.readthedocs.io/en/latest/" role="button">
                <span class="fa fa-book" aria-hidden="true"></span>
                Full documentation
            </a>
            <a class="btn btn-light" href="https://pypi.python.org/pypi/django-modern-rpc" role="button">
                <span class="fa fa-download" aria-hidden="true"></span>
                Library on PyPi
            </a>
        </div>

        <p class="mt-2">
            If you use this library in your project and want to help increasing its visibility, just
            go to <a href="https://djangopackages.org/packages/p/django-modern-rpc/">djangopackages</a>
            and vote for the library. Thank you !
        </p>
    </div> <!-- /container -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>

    {% google_analytics %}
</body>
</html>