<div class="flex">
  <nav class="tabs tabs-bordered tabs-vertical"
       aria-label="Tabs"
       role="tablist"
       data-tabs-vertical="true"
       aria-orientation="horizontal">

    {% for procedure in procedures %}
      <button type="button"
              class="tab active-tab:tab-active ps-1 pe-16"
              id="show-doc-{{ forloop.counter }}"
              :class="{'active': selectedTab === {{ forloop.counter }}}"
              @click="selectedTab = {{ forloop.counter }}"
              data-tab="#doc-{{ forloop.counter }}"
              aria-controls="doc-{{ forloop.counter }}"
              role="tab"
              aria-selected="false">

        {{ procedure.name }}

      </button>
    {% endfor %}
  </nav>

  <div class="px-8 grow">

    {% for procedure in procedures %}
      <div id="doc-{{ forloop.counter }}"
           role="tabpanel"
           aria-labelledby="show-doc-{{ forloop.counter }}"
           x-show="selectedTab === {{ forloop.counter }}"
           x-transition.opacity.duration.100ms>
        {% include "main/_single-procedure-doc.html" %}
      </div>
    {% endfor %}

  </div>
</div>
