{% load rpc %}

<div class="flex flex-col gap-2">

  <h4 class="text-accent font-semibold text-xl">{{ procedure }}</h4>

  <div class="procedure-docstring">
    {{ procedure.html_doc | safe | urlize }}
  </div>

  <h6 class="font-semibold mt-3 mb-2">Parameters:</h6>

  {% if procedure.arguments %}
    <ul class="list-inside list-disc ms-4">
      {% for name, param_doc in procedure.arguments.items %}
        <li>
          <strong>{{ name }}</strong>
          {% if param_doc.documented_type %}({{ param_doc.documented_type }}) - {% endif %}{{ param_doc.docstring }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <em class="text-base-content/60">This procedure has no arguments documentation</em>
  {% endif %}


  <h6 class="font-semibold mt-3 mb-2">Returns:</h6>
  {% if procedure.returns.docstring or procedure.returns.documented_type %}

    <ul class="list-inside list-disc ms-4">
      <li>
        {% if procedure.returns.documented_type %}
          {{ procedure.returns.documented_type }} -
        {% endif %}
        {{ procedure.returns.docstring }}
      </li>
    </ul>

  {% else %}
    <em class="text-base-content/60">No documentation on return types available yet</em>
  {% endif %}

  <div class="mt-8 flex flex-col gap-2">

    <nav class="tabs w-fit rounded-field bg-base-200/60 p-1"
         aria-label="Tabs" role="tablist" aria-orientation="horizontal">

      <div x-bind:class="{
          'translate-x-0': preferredProtocol === 'xml-rpc',
          'translate-x-full': preferredProtocol === 'json-rpc'
        }"
           class="rounded-field bg-base-100 shadow-base-300/20 absolute w-32 h-8 shadow-sm transition-transform duration-300 ease-in-out translate-x-full">

      </div>
      <button type="button"
              class="rounded-field text-base-content text-sm z-1 w-32 h-8 flex items-center justify-center gap-x-2"
              :class="{'active': preferredProtocol === 'xml-rpc'}"
              @click="preferredProtocol = 'xml-rpc'"
              id="x-trigger-{{ forloop.counter }}" data-tab="#x-example-{{ forloop.counter }}"
              aria-controls="x-example-{{ forloop.counter }}" role="tab">
        <span class="icon-[tabler--brackets-angle]"></span> XML-RPC
      </button>
      <button type="button"
              class="rounded-field text-base-content text-sm z-1 w-32 h-8 flex items-center justify-center gap-x-2"
              :class="{'active': preferredProtocol === 'json-rpc'}"
              @click="preferredProtocol = 'json-rpc'"
              id="j-trigger-{{ forloop.counter }}" data-tab="#j-example-{{ forloop.counter }}"
              aria-controls="j-example-{{ forloop.counter }}" role="tab">
        <span class="icon-[tabler--braces]"></span> JSON-RPC
      </button>
    </nav>

    <div id="x-example-{{ forloop.counter }}"
         role="tabpanel"
         aria-labelledby="x-trigger-{{ forloop.counter }}"
         x-show="preferredProtocol == 'xml-rpc'"
         x-transition.opacity.duration.200ms>

      <div class="mockup-code bg-base-200/70 rounded-box pb-1 relative before:content-none w-3xl">

        <pre id="x-code-{{ forloop.counter }}" class="overflow-x-auto text-sm"
        ><code>{% xml_rpc_example procedure %}</code></pre>

        {% include "main/_copy-button.html" with target_prefix="x-code" %}

      </div>
    </div>
    <div id="j-example-{{ forloop.counter }}"
         role="tabpanel"
         aria-labelledby="j-trigger-{{ forloop.counter }}"
         x-show="preferredProtocol == 'json-rpc'"
         x-transition.opacity.duration.200ms>

      <div class="mockup-code bg-base-200/70 rounded-box pb-1 relative before:content-none w-3xl">

        <pre id="j-code-{{ forloop.counter }}" class="overflow-x-auto text-sm"
        ><code>{% json_rpc_example procedure %}</code></pre>

        {% include "main/_copy-button.html" with target_prefix="j-code" %}

      </div>
    </div>

  </div>

</div>
