<!DOCTYPE html>
{% load static analytical %}
<html lang="en">
<head>
  {% analytical_head_top %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Demo app - django-modern-rpc</title>

  <link rel="stylesheet" href="{% static 'app.css' %}">

  <script src="{% static 'clipboard.js' %}"></script>
  <script src="{% static 'helper-clipboard.js' %}"></script>

  <script defer src="{% static 'app.js' %}" type="module"></script>

  {# Inject Sentry Loader script if enabled in project's settings #}
  {{ sentry_loader_script }}

  {% analytical_head_bottom %}
</head>

<body class="bg-base-200 py-12" data-theme="corporate">
{% analytical_body_top %}

<div class="container mx-auto flex flex-col gap-8">

  <div
    class="hero bg-gradient-to-br from-neutral/90 to-neutral/60 text-neutral-content rounded-box p-6 shadow-lg">
    <div class="hero-content text-center">

      <h1 class="text-4xl font-extrabold mb-4 w-fit mx-auto relative">
        <span class="badge badge-neutral badge-sm absolute -end-16 font-semibold">v{{ modernrpc_version }}</span>
        Django-modern-rpc
      </h1>
      <p class="text-lg">A powerful RPC framework for Django applications</p>

      <a href="#library-action" class="btn btn-accent mt-4">Get Started</a>
    </div>
  </div>

  <div class="card bg-base-100 shadow-lg">
    <div class="card-header">
      <h3 class="card-title text-2xl text-primary">
        Introduction
      </h3>
    </div>
    <div class="card-body">
      <p class="">
        <a href="https://pypi.python.org/pypi/django-modern-rpc"
           title="django-modern-rpc on PyPi"
           class="link link-primary link-hover font-medium">Django-modern-rpc</a>
        is a Django library that helps you enable JSON and XML-RPC servers in your application. It is easy
        to install and configure, and highly customizable. This website shows the library in action.
      </p>
    </div>
  </div>

  <div class="flex flex-wrap gap-3 justify-center">
    <a class="btn btn-primary btn-lg shadow-md" href="https://github.com/alorence/django-modern-rpc" target="_blank">
      <span class="icon-[tabler--brand-github] size-5"></span>
      Source code
    </a>
    <a class="btn btn-secondary btn-lg shadow-md" href="https://django-modern-rpc.readthedocs.io/latest/"
       target="_blank">
      <span class="icon-[tabler--book-2] size-5"></span>
      Documentation
    </a>
    <a class="btn btn-secondary btn-lg shadow-md" href="https://pypi.python.org/pypi/django-modern-rpc" target="_blank">
      <span class="icon-[tabler--download] size-5"></span>
      Library on PyPi
    </a>
  </div>

  <div class="card shadow-xl"
       x-data="{
         want_async: true,
         selectedTab: 1,
         preferredProtocol: 'xml-rpc',
         rpc_url() { return this.want_async ? '{{ async_rpc_url }}' : '{{ rpc_url }}'}
       }">

    <div class="card-header flex justify-between items-center">

      <h5 class="card-title text2xl font-semibold text-primary">Remote procedures</h5>
      <div class="flex items-center gap-1">
        <input type="checkbox" class="switch switch-outline" id="switchRpcUrl" x-model="want_async" />
        <label class="label-text text-base" for="switchRpcUrl">Prefer async</label>
      </div>

    </div>

    <div id="library-action" class="card-body">

      <p class="mb-4">
        Here is the full list of procedures exposed by this demo application. You can read the documentation for each
        one and copy/paste the command into your preferred terminal to try it by yourself.
        Both sync and async versions of the view are available. Use the selector on top-right to switch between them.
        The currently select server is available to RPC calls at this URL:
      </p>

      <p class="text-accent text-center text-xl">
        <code x-text="rpc_url()" class="bg-secondary/10 px-8 py-4"></code>
      </p>

      {% include "main/_all-procedures-doc.html" %}

    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div
      class="card bg-gradient-to-br from-secondary/30 to-secondary/20 shadow-lg">
      <div class="card-body">
        <h3 class="card-title text-xl font-semibold">
          <span class="icon-[tabler--world-www] size-5 mr-2"></span>
          About this website
        </h3>
        <p class="py-2">
          The source code of this website is available on
          <a href="https://github.com/alorence/modernrpc_demo" class="link link-primary font-medium">GitHub</a>.
          If you find any issue or have a suggestion, please open an issue on the project's repository.
        </p>
      </div>
    </div>

    <div
      class="card bg-gradient-to-br from-secondary/10 to-secondary/30 shadow-lg">
      <div class="card-body">
        <h3 class="card-title text-xl font-semibold">
          <span class="icon-[tabler--heart] size-5 mr-2"></span>
          About django-modern-rpc
        </h3>
        <p class="py-2">
          If you use this library in your project and want to help increasing its visibility, just
          go to <a href="https://djangopackages.org/packages/p/django-modern-rpc/"
                   class="link link-secondary font-medium">djangopackages</a>
          and vote for the library. Thank you!
        </p>
        <div class="card-actions justify-end">
          <a href="https://djangopackages.org/packages/p/django-modern-rpc/"
             class="btn btn-secondary btn-outline" target="_blank">
            Vote Now
          </a>
        </div>
      </div>
    </div>

  </div>

</div> <!-- /container -->

{% analytical_body_bottom %}

</body>
</html>
