{{ method.html_doc | safe | urlize }}

{% if method.args_doc %}

  <h6 class="font-semibold mt-3 mb-2">Parameters:</h6>

  <ul class="list-inside list-disc">
    {% for name, param_help in method.args_doc.items %}
      <li>
        <strong>{{ name }}</strong>
        {% if param_help.type %}({{ param_help.type }}) - {% endif %}{{ param_help.text }}
      </li>
    {% endfor %}
  </ul>

{% endif %}

{% if method.return_doc.type or method.return_doc.text %}

  <h6 class="font-semibold mt-3 mb-2">Returns:</h6>

  <ul class="list-inside list-disc">
    <li>
      {% if method.return_doc.type %}
        {{ method.return_doc.type }} -
      {% endif %}
      {{ method.return_doc.text }}
    </li>
  </ul>

{% else %}
  <em class="text-gray-500">No documentation on return types available yet</em>
{% endif %}
