<div id="all-methods" class="accordion divide-neutral/20 divide-y my-4">

  {% for method in methods %}

    {% with html_id=method.name|slugify %}

      <div class="accordion-item" id="{{ html_id }}">

        <button class="accordion-toggle inline-flex items-center gap-x-4 text-start bg-secondary text-secondary-content" aria-controls="{{ html_id }}-collapse" aria-expanded="false">

          <span class="icon-[tabler--plus] accordion-item-active:hidden size-4.5 block shrink-0"></span>
          <span class="icon-[tabler--minus] accordion-item-active:block size-4.5 hidden shrink-0"></span>

          {{ method }}

          {% include "main/protocol_pills.html" %}

        </button>

        <div id="{{ html_id }}-collapse"
             class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
             aria-labelledby="{{ html_id }}"
             role="region">

            <div class="px-4 py-6">
              {% include "main/method_doc_content.html" %}
            </div>

        </div> <!-- /content -->

      </div>  <!-- /main-item -->

    {% endwith %}

  {% endfor %}

</div> <!-- /accordion -->
